<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sciemce institute, loha -->
  <!-- <div *ngFor="let i of [10, 11, 12, 6, 1, 2, 3, 4, 5, 7 , 8, 9]">
    <img [src]="'assets/images/about-us/' + i + '.jpeg'" />
  </div> -->

  <!-- Gat classes -->
  <!-- <div *ngFor="let i of [1, 2, 3]">
    <img [src]="'assets/images/about-us/gat-classes/' + i + '.png'" />
  </div> -->

  <div
    style="
      margin: auto;
      font-size: 4vw;
      margin-top: 5%;
      line-height: 1.5em;
      text-align: justify;
    "
  >
    <ion-item class="ion-no-padding" lines="none" color="primary">
      <ion-label class="ion-text-center">ABOUT AND AROUND US</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Hello students, parents and our well-wishers, since 2000 SANCHETI
        CLASSES has been received, your blessings and full heartfelt support. In
        the same regard we wish to enjoy this till infinite eternity. SANCHETI
        CLASSES are getting more and more professional, and adapting to new
        changes indicated in educational pattern. SANCHETI CLASSES have most
        experience staff and total free high interactivity zone between teachers
        and students, which makes us proud of our skills and techniques.
        SANCHETI CLASSES adopt unique techniques such as inspirational talk to
        develop interpersonal skills, and inspire healthy brotherhood and
        competition aim & maxim. Your dreams keep you awake and risen if you are
        directed towards them by ability, and a high motivation. SANCHETI
        CLASSES is your dream motivator.
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label><b>About the Founder</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Certified Practitioner of Neuro-Linguistic Programming, Society of
          NLP, USA.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Serving education since 2000.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >His miraculous motivational talks create a joyful learning
          environment and each student is inspired to perform.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Passionate and Dedicated to provide Quality Education to
          students.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >He believes that every child is unique.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >He understands the learning style of students and teaches
          accordingly.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >His social consciousness makes him special in this
          industry.</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label><b>What we offer</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Regular Classes</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Comfortable Classrooms</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Professional Teachers</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Creative Lessons</ion-label>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label><b>Why Choose Us ?</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Subjects taught by experienced, qualified & committed
          tutors.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Look into overall educational development of the student.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Importance to concept building and understanding.
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Knowledge and exam oriented teaching.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Flexible timings according to schools.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Interactive meetings and counseling.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Believe in quality education.</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label><b>Benefits of Admission at SANCHETI CLASSES</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Basics of Maths, Science and Grammar are made strong and
          perfect.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Confidence boosting in 8th & 9th with no fear of new
          syllabus.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >100% guaranteed overall academic growth with focused
          approach.</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Conceptual clarity. Counseling & consulting time to time.</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-item class="ion-no-padding" lines="none" color="secondary">
      <ion-label class="ion-text-center">JEE MAIN</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Strengthen your JEE exam preps with our app where we offer a motley of
        more than 4 lakh questions, mock tests, notes and much more. We have the
        latest syllabus which will prove to be extremely useful for the upcoming
        examination. We focus on boosting your confidence with our study
        material and try make things easy for our users.
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none" color="warning">
      <ion-label class="ion-text-center">NEET</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Only after an extensive survey we could offer you with such a huge
        question bank. We got all, sample papers, previous examinations question
        papers, tips, mock tests, chapter wise questions and so much more to
        make your NEET preparations stress free. So why worry when we are there
        to take care of you just download our app and keep going.
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none" color="danger">
      <ion-label class="ion-text-center">MHCET</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Students will find this app very useful as we have made things so easy
        in here. Revise for your upcoming MHCET exam with practice tests and
        previous year solved papers. The app consists entire study material for
        all the subjects Mathematics, Physics, Chemistry and Biology. You can
        easily master MHCET with our help.
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" color="success">
      <ion-label class="ion-text-center">Contact us</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <b>Contact: </b>
        <ion-text color="primary">9637551234/8530375151 </ion-text>
      </ion-label>
    </ion-item>

    <!-- <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <b>E-mail: </b>
        <ion-text color="primary"></ion-text>
      </ion-label>
    </ion-item> -->

    <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <b>Address: </b>
        <ion-text color="primary"
          >Anand Park, Bharati Colony, Lane no. 1, Wadgaon Sheri, Pune –
          14</ion-text
        >
      </ion-label>
    </ion-item>
  </div>
</ion-content>
