<!-- <ion-header>
  <ion-toolbar>
    <ion-title (click)="resetStorage()">main</ion-title>
    <ion-button (click)="onRegisterClick()" fill="clear" slot="end" color="primary" *ngIf="registration == false">
      Register
    </ion-button>
    <ion-button (click)="onLoginClick()" fill="clear" slot="end" color="primary" *ngIf="registration == true">
      Login
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
  <div class="login-header ion-padding">
    <img
      class="logo-image"
      src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
    />
  </div>
</ion-header> -->

<ion-content>
  <ion-label class="ion-text-center label"
    ><ion-text color="primary" class="label-text">
      Sancheti Classes-NEET
    </ion-text></ion-label
  >
  <!-- login form -->
  <!-- <form name='loginForm' #loginForm='ngForm' *ngIf="registration == false">

    <ion-item>
      <ion-label position='stacked'>Email Id<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input name="emailId" [(ngModel)]="loginInfo.emailId" #emailId="ngModel" type="text" email required>
      </ion-input>
    </ion-item>
    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required">This field is required.</ion-text>
    </div>

    <ion-item>
      <ion-label position='stacked'>Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input name="password" [(ngModel)]="loginInfo.password" #password="ngModel" [type]="inputType" required>
      </ion-input>
      <ion-icon [name]="iconName" slot='end' (click)="changeInputType()"></ion-icon>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-text color="danger" *ngIf="password.errors.required">This field is required.</ion-text>
    </div>

    <ion-item lines="none" class="ion-no-margin-top ion-no-margin-bottom">
      <ion-label > 
        <ion-text color="danger">
          Forgot Password ?
        </ion-text>
        <ion-text style="text-decoration: underline;" color="primary" (click)="onForgotPass()">
          click here.
        </ion-text> 
      </ion-label>
    </ion-item>

    <ion-item class="ion-padding" class="ion-no-padding-top ion-no-margin-top" lines="none">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="primary" fill="outline" type="submit" [disabled]="!loginForm.invalid" 
              (click)="login()" size="default">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </form> -->

  <div class="login" *ngIf="storageService.registeration == false">
    <div heading-column-lr>
      <h1 big-heading>Login</h1>
      <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    </div>

    <form name="loginForm" #loginForm="ngForm">
      <ion-item transparent>
        <ion-icon icon-small name="person" color="primary"></ion-icon>
        <ion-input
          name="emailId"
          [(ngModel)]="loginInfo.email"
          #emailId="ngModel"
          email
          required
          type="text"
          placeholder="Email Id"
        ></ion-input>
      </ion-item>
      <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
        <ion-text color="danger" *ngIf="emailId.errors.required"
          >This field is required.</ion-text
        >
      </div>
      <div *ngIf="ShowEmailIdError">
        <ion-text color="danger"> Enter Email Id. </ion-text>
      </div>

      <ion-item transparent>
        <ion-icon icon-small name="lock-closed" color="primary"></ion-icon>
        <ion-input
          name="password"
          [(ngModel)]="loginInfo.password"
          #password="ngModel"
          [type]="inputType"
          required
          type="password"
          placeholder="Password"
        ></ion-input>
        <ion-icon
          [name]="iconName"
          slot="end"
          (click)="changeInputType()"
        ></ion-icon>
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <ion-text color="danger" *ngIf="password.errors.required"
          >This field is required.</ion-text
        >
      </div>

      <ion-label class="forgot-password"
        ><ion-text color="primary" (click)="onForgotPass()"
          >Forgot Password</ion-text
        ></ion-label
      >

      <!-- <ion-label class="forgot-password" (click)="onForgotPass()"
        >Forgot Password</ion-label
      > -->
      <div style="height: 30px"></div>

      <ion-button
        color="primary"
        class="ion-button-class"
        size="large"
        expand="block"
        fill="solid"
        shape="round"
        [disabled]="loginForm.invalid"
        (click)="login(loginForm)"
      >
        Login
      </ion-button>
    </form>

    <ion-label class="ion-text-center"
      >Don't have Account?
      <span class="link-button" (click)="onRegisterClick()">Register</span>
      <span class="demo-login" (click)="onDemoLoginClick()"
        >Demo Login</span
      ></ion-label
    >

    <ion-label class="ion-text-center" style="margin-top: 5px" color="danger"
    >Rs. 599 only, for 1 year.</ion-label
  >
  </div>

  <div class="registration" *ngIf="storageService.registeration == true">
    <div heading-column-lr>
      <h1 big-heading>Register</h1>
      <!-- <h2 small-heading (click)="onLoginClick()">LOGIN</h2> -->
    </div>

    <ion-label
      color="danger"
      style="text-align: end; position: absolute; top: 5%; right: 0%"
      >All fields are required</ion-label
    >

    <form name="registrationForm" #registrationForm="ngForm">
      <ion-item transparent>
        <ion-input
          name="firstName"
          [(ngModel)]="userInfo.firstName"
          #firstName="ngModel"
          type="text"
          required
          placeholder="First Name"
        ></ion-input>
      </ion-item>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <ion-text color="danger" *ngIf="firstName.errors.required"
          >This field is required.</ion-text
        >
      </div>

      <ion-item transparent>
        <ion-input
          name="lastName"
          [(ngModel)]="userInfo.lastName"
          #lastName="ngModel"
          type="text"
          required
          placeholder="Last Name"
        ></ion-input>
      </ion-item>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <ion-text color="danger" *ngIf="lastName.errors.required"
          >This field is required.</ion-text
        >
      </div>

      <ion-item transparent>
        <ion-input
          name="contactNo"
          [(ngModel)]="userInfo.contactNo"
          #contactNo="ngModel"
          type="tel"
          maxlength="10"
          minlength="10"
          required
          placeholder="Contact No."
        ></ion-input>
        <ion-button
          (click)="sendOtp()"
          expand="block"
          fill="clear"
          color="primary"
          slot="end"
          [disabled]="userInfo.contactNo.length != 10"
        >
          Send OTP
        </ion-button>
      </ion-item>
      <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)">
        <ion-text color="danger" *ngIf="contactNo.errors.required"
          >This field is required.</ion-text
        >
        <ion-text color="danger" *ngIf="contactNo.errors.minlength"
          >This field must contain 10 digits.</ion-text
        >
      </div>

      <ion-item transparent [hidden]="!otpSent">
        <ion-input
          name="otp"
          [(ngModel)]="enteredOTP"
          #otp="ngModel"
          type="tel"
          maxlength="4"
          minlength="4"
          required
          placeholder="Enter OTP"
          (keyup)="verifyOtp($event)"
        >
        </ion-input>
        <!-- <ion-button
          expand="block"
          fill="clear"
          color="primary"
          slot="end"
          [disabled]="enteredOTP.length != 4"
        >
          Verify OTP
        </ion-button> -->
      </ion-item>
      <div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
        <ion-text color="danger" *ngIf="otp.errors.required"
          >This field is required.</ion-text
        >
        <ion-text color="danger" *ngIf="otp.errors.minlength"
          >This field must contain 4 digits.</ion-text
        >
      </div>
      <ion-text
        *ngIf="otpMatch == true && enteredOTP.length == 4 "
        color="success"
        >Otp Match.</ion-text
      >
      <ion-text
        *ngIf="otpMatch == false && enteredOTP.length == 4 "
        color="danger"
        >Otp dosen't Match.</ion-text
      >

      <ion-item transparent>
        <ion-input
          name="emailId"
          [(ngModel)]="userInfo.email"
          #emailId="ngModel"
          type="text"
          email
          required
          placeholder="Email Id"
        ></ion-input>
      </ion-item>
      <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
        <ion-text color="danger" *ngIf="emailId.errors.required"
          >This field is required.</ion-text
        >
        <ion-text color="danger" *ngIf="emailId.errors.email"
          >Enter valid email id.</ion-text
        >
      </div>

      <ion-item transparent>
        <ion-input
          name="password"
          [(ngModel)]="userInfo.password"
          #password="ngModel"
          [type]="passInputType"
          required
          minlength="6"
          (keyup)="onPassword()"
          placeholder="Password"
        ></ion-input>
        <ion-icon
          [name]="passIconName"
          slot="end"
          (click)="changePassInputType()"
        ></ion-icon>
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <ion-text color="danger" *ngIf="password.errors.required"
          >This field is required.</ion-text
        >
        <ion-text color="danger" *ngIf="password.errors.minlength"
          >Password must contain 6 digits.</ion-text
        >
      </div>

      <ion-item transparent>
        <ion-input
          name="reTypePass"
          [(ngModel)]="reTypePass"
          [type]="reTypePassInputType"
          required
          (keyup)="onKeyUp($event)"
          placeholder="Re-Type Password"
        ></ion-input>
        <ion-icon
          [name]="reTypePassIconName"
          slot="end"
          (click)="changeReTypePassInputType()"
        ></ion-icon>
      </ion-item>
      <div *ngIf="passwordMatch == true">
        <ion-text color="success">Password Match.</ion-text>
      </div>
      <div *ngIf="passwordMatch == false">
        <ion-text color="danger">Password dosen't match.</ion-text>
      </div>

      <!-- <ion-item
        class="ion-no-margin-top"
        lines="none"
        *ngIf="checkBox == true"
        (click)="onCheckBoxClick()"
      >
        <ion-label>Offline Registration</ion-label>
        <ion-checkbox
          [disabled]="registrationForm.invalid || !otpMatch"
          class="chbox"
          slot="start"
        ></ion-checkbox>
      </ion-item> -->

      <div style="height: 10px"></div>

      <ion-label class="ion-text-center" color="danger"
      >Rs. 599 only, for 1 year.</ion-label
    >

      <ion-button
        color="primary"
        class="ion-button-class"
        size="large"
        expand="block"
        fill="solid"
        shape="round"
        type="submit"
        [disabled]="registrationForm.invalid  || !otpMatch"
        *ngIf="offLineRegistration == true"
        (click)="offlineRegister()"
      >
        Offline Registeration
      </ion-button>

      <ion-button
        color="primary"
        class="ion-button-class"
        size="large"
        expand="block"
        fill="solid"
        shape="round"
        type="submit"
        [disabled]="registrationForm.invalid  || !otpMatch"
        *ngIf="offLineRegistration == false"
        (click)="payAndRegister()"
      >
      Pay and Register
      </ion-button>

      <ion-label class="ion-text-center"
        >Already have account?
        <span (click)="onLoginClick()" class="link-button"
          >Login</span
        ></ion-label
      >
    </form>
  </div>
</ion-content>
