<ion-content [fullscreen]="true" class="ion-no-padding">
  <div class="div ion-no-padding">
    <ion-buttons class="menuButton">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div class="distributer">
      <h1 color="light" style="margin: 0; font-size: 4vw">
        Sancheti Classes
      </h1>
    </div>
    <div class="greetings">
      <h1 color="light" style="margin: 0; margin-top: 5px; font-size: 5vw">
        Good {{greetingMsg}},
      </h1>
      <h2 color="light" style="margin: 0; font-size: 5vw">{{userName}}</h2>
    </div>
    <ion-avatar class="md hydrated avatar">
      <img
        [src]="imageData"
      />
    </ion-avatar>
    <ion-card class="cardAccuracy">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-text> Accuracy </ion-text>
      <h1>{{overAllAccuracy}}%</h1>
      <p>OVERALL</p>
    </ion-card>

    <ion-card
      class="cardLastTest"
      (click)="onLastTestClick()"
      [routerLink]="lastTestDetails.testId > 0 && ['/test', lastTestDetails.testId]"
    >
      <ion-icon name="create-outline"></ion-icon>
      <ion-text> Last Test </ion-text>
      <h1>{{lastTestDetails.obtainedMarks}}/{{lastTestDetails.totalMarks}}</h1>
      <p>{{lastTestDetails.testType}}</p>
    </ion-card>
  </div>

  <div class="subWiseAnalysis">
    <ion-text style="font-size: 3vw"> SUBJECT WISE ANALYSIS </ion-text>
    <ion-card>
      <ion-item lines="none">
        <ion-label class="subjectName">Physics</ion-label>
        <ion-label slot="end" class="questionCount ion-text-right"
          >{{overAllSummary.phyAttQue}}/{{phyTotalQuestions}} Mcqs</ion-label
        >
      </ion-item>
      <div>
        <ion-progress-bar
          type="determinate"
          [value]="phyProgress"
        ></ion-progress-bar>
      </div>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-label class="subjectName">Chemistry</ion-label>
        <ion-label slot="end" class="questionCount ion-text-right"
          >{{overAllSummary.chemAttQue}}/{{chemTotalQuestions}} Mcqs</ion-label
        >
      </ion-item>
      <div>
        <ion-progress-bar
          type="determinate"
          [value]="chemProgress"
        ></ion-progress-bar>
      </div>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-label class="subjectName">Biology</ion-label>
        <ion-label slot="end" class="questionCount ion-text-right"
          >{{overAllSummary.biologyAttQue}}/{{biologyTotalQuestions}}
          Mcqs</ion-label
        >
      </ion-item>

      <div>
        <ion-progress-bar
          type="determinate"
          [value]="biologyProgress"
        ></ion-progress-bar>
      </div>
    </ion-card>
  </div>

  <div class="testRank">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-card
            (click)="onLastTestClick()"
            class="ion-no-margin bestTest"
            [routerLink]="[lastTestDetails.testId > 0 && '/test', bestTest.testId]"
          >
            <ion-item class="testRank-item" lines="none">
              <ion-label color="success">Best Test</ion-label>
            </ion-item>

            <ion-item class="testRank-marks">
              {{bestTest.obtainedMarks}}/{{bestTest.totalMarks}}
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card
            (click)="onLastTestClick()"
            class="ion-no-margin worstTest"
            [routerLink]="[lastTestDetails.testId > 0 && '/test', worstTest.testId]"
          >
            <ion-item class="testRank-item" lines="none">
              <ion-label color="danger">Worst Test</ion-label>
            </ion-item>

            <ion-item class="testRank-marks">
              {{worstTest.obtainedMarks}}/{{worstTest.totalMarks}}
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
